<body>

    <div class="container">
      <div class="row mt-5">
        <div class="col-6">
          <button class="btn btn-success button" (click)="ManagerSub()">Manager Login</button>
        </div>
        <div class="col-6 ">
          <button class="btn btn-warning button" (click)="UserSub()">User Login</button>
        </div>
        
      </div>

        <div class="card cd-card mt-1" *ngIf="user">
        
          <section >
                <h2 class=" text-info text-center fw-bold">User-Login</h2>
                <p class="text-center">login yourself!!</p>

            
                <div class="form" >

                    
                  <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)">
                    <div class="row">
                        <div class="col-12">
                            <label>Username</label>
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" #username="ngModel" placeholder="Enter username.." pattern="[a-zA-Z]+$" required name="username"  ngModel/><br>
                            <span class="text-danger" *ngIf="username.invalid && username.touched">Please enter valid input</span>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-12">
                            <label>Password</label>
                        </div>
                        <div class="col-12">       
                            <input type="password" class="form-control" #password="ngModel" required name="password"  ngModel/><br>
                            <span class="text-danger" *ngIf="password.invalid && password.touched">Please enter valid input</span>
                        </div>
                    </div>
                           
                        <div class="row">
                          <div class="col-12">
                           <button class="btn btn-primary mb-5">Submit</button>
                          </div>
                        </div>   
                </form>






                </div>


          </section>



        </div>





    </div>

    <!-- ---------------------------------------------------------manager start----------------------------------------------------------- -->

    <div class="container">

          <div class="card cd-card mt-1" *ngIf="manager">
       
            
            <section >
              <h2 class=" text-info text-center fw-bold">Manager-Login</h2>
              <p class="text-center">login yourself!!</p>

            
              <div class="form" >

                    
                <form #Managerloginform="ngForm" (ngSubmit)="managerSubmit(Managerloginform.value)">
                    <div class="row">
                        <div class="col-12">
                            <label>Username</label>
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" #username="ngModel" placeholder="Enter username.." pattern="[a-zA-Z]+$" required name="username"  ngModel/><br>
                            <span class="text-danger" *ngIf="username.invalid && username.touched">Please enter valid input</span>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-12">
                            <label>Password</label>
                        </div>
                        <div class="col-12">       
                            <input type="password" class="form-control" #password="ngModel" required name="password"  ngModel/><br>
                            <span class="text-danger" *ngIf="password.invalid && password.touched">Please enter valid input</span>
                        </div>
                    </div>
                          
                        <div class="row">
                          <div class="col-12">
                          <button class="btn btn-primary mb-5">Submit</button>
                          </div>
                        </div>   
                </form>






              </div>


            </section>



          </div>





  </div>





</body>
